<head>
  <meta charset="utf-8" />
  <meta name="description" content="Outcomes" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta property="og:title" content="BMS Outcomes" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="/" />
  <meta property="og:image" content="" />
  <meta property="og:locale" content="en_US" />

  <title>BMS Outcomes</title>
  {{>headlibs}}
</head>