<header class="header js-header" role="banner">
  <div class="container header__container">
    <div class="header__block">
      <div class="header__logo">
        <img src="./assets/images/rev-logo.png" alt="">
      </div>
      <button type="button" class="js-drawer-toggle drawer__hamburger">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer__hamburger-icon"></span>
      </button>
    </div>
  </div>
  <nav class="drawer__nav js-drawer-nav" role="navigation">
    <div class="drawer__menu container">
      <div class="drawer__grid">
        <div class="drawer__col drawer__col--brand">
          <h2>
            Bringing<br>
            Outcomes<br>
            to Life
          </h2>
        </div>
        <div class="drawer__col drawer__col--resources">
          <h5>Resources</h5>
          <hr/>
          <ul>
            <li>
              <a href="#starting-dose">Recommended starting dose</a>
            </li>
            <li>
              <a href="#" target="_blank">Patient Education Brochure</a>
            </li>
            <li>
              <a href="#" target="_blank">Celgene Patient Support Brochure</a>
            </li>
            <li>
              <a href="#" target="_blank">FIRST Trial Information</a>
            </li>
            <li>
              <a href="#" target="_blank">Renal Dosing Reference Card</a>
            </li>
            <li>
              <a href="#" target="_blank">Diarrhea Reference Card</a>
            </li>
            <li>
              <a href="#" target="_blank">Neutropenia Reference Card</a>
            </li>
            <li>
              <a href="#" target="_blank">Rash Reference Card</a>
            </li>
            <li>
              <a href="#" target="_blank">Fatigue Reference Card</a>
            </li>
          </ul>
        </div>
        <div class="drawer__col drawer__col--navigation">
          <h5>Navigation</h5>
          <hr/>
          <ul>
            <li>
              <a href="./index.html">Home</a>
            </li>
            <li>
              <a href="./start-date.html">Treatment start date</a>
            </li>
            <li>
              <a href="./study-data.html">View Pivotal Study Data</a>
            </li>
            <li>
              <a href="./maintenance.html">View REVLIMID Maintenance</a>
            </li>
            <li>
              <a href="./resources.html">View Additional Resources</a>
            </li>
          </ul>
        </div>
        <div class="drawer__col drawer__col--footer">
          <a href="/">
            <img src="./assets/images/rev-logo.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>