<header class="header js-header">
  {{>banner content="<p>For questions about BMS medicines during this time please call <strong>1-800-721-8909</strong>.</p>"}}
  <div class="container header__container">
    <div class="header__block">
      <h1 style="color: white; text-align: center;">Header</h1>
    </div>
  </div>
</header>