<div class="indication js-indication">
  <div class="indication__container">
    <div class="indication__content">
      <small>REVLIMID<sup>®</sup> (lenalidomide) in combination with dexamethasone (dex) is indicated for the treatment of adult patients with multiple myeloma (MM). REVLIMID is indicated as maintenance therapy in adult patients with MM following autologous hematopoietic stem cell transplantation (auto-HSCT). REVLIMID is not indicated and is not recommended for the treatment of patients with chronic lymphocytic leukemia (CLL) outside of controlled clinical trials.<br><br>To avoid embryo-fetal exposure to lenalidomide, REVLIMID is only available through a restricted distribution program, the REVLIMID REMS<sup>®</sup> program.</small>
    </div>
    <div class="indication__tools">
      <button class="indication__close js-indication-close">close</button>
    </div>
  </div>
</div>