<nav class="navigation">
  <div class="navigation__container">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="./index.html">Home</a>
      </li>
      <li class="navigation__item {{#if start-date}}navigation__item--active{{/if}}">
        <a href="./start-date.html">Start Date</a>
      </li>
      <li class="navigation__item {{#if study-data}}navigation__item--active{{/if}}">
        <a href="./study-data.html">Pivotal Study Data</a>
      </li>
      <li class="navigation__item {{#if maintenance}}navigation__item--active{{/if}}">
        <a href="./maintenance.html">REVLIMID Maintenance</a>
      </li>
      <li class="navigation__item {{#if resources}}navigation__item--active{{/if}}">
        <a href="./resources.html">Additional Resources</a>
      </li>
    </ul>
  </div>
</nav>