<div class="date-selector js-date-selector">
  <div class="date-selector__container">
    <div>
        <h5>
            Pick a start date for REVLIMID<br>
            maintenance therapy post auto-HSCT
        </h5>
    </div>
    <div class="date-picker">
        <select class="month" name="month" id="js-select-month">
            <option value="">MONTH</option>
            <option value="1">JANUARY</option>
            <option value="2">FEBRUARY</option>
            <option value="3">MARCH</option>
            <option value="4">APRIL</option>
            <option value="5">MAY</option>
            <option value="6">JUNE</option>
            <option value="7">JULY</option>
            <option value="8">AUGUST</option>
            <option value="9">SEPTEMBER</option>
            <option value="10">OCTOBER</option>
            <option value="11">NOVEMBER</option>
            <option value="12">DECEMBER</option>
        </select>
        <select class="year" name="year" id="js-select-year">
            <option value="">YEAR</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
        </select>
        <a href="date-selector.html" class="cta js-next">
            NEXT
        </a>
    </div>
  </div>
  <div class="date-selector__footer">
    <div class="date-selector__footer-content">
        <small>
            Auto-HSCT, autolous hematopoietic stem cell transplant.
        </small>
        <small>
        REVLIMID<sup>®</sup> and REVLIMID REMS<sup>®</sup> are registered trademarks of Celgene Corporation, a Bristol Myers Squibb company.
        ©2020 Bristol-Myers Squibb Company. 11/20 US-REV-20-0458</small>
    </div>
  </div>
</div>