<div class="mobile mobile--home content">
    <div class="content__container">
        <h1>Bringing<br>Outcomes<br>to Life</h1>
        <h5>This website is not optimized for mobile devices - please view on desktop or tablet screens</h5>
    </div>
    <div class="footer footer__container">
        <div class="footer__logo">
        <img src="./assets/images/rev-logo.png" alt="">
        </div>
        <div class="footer__content">
            <small>
            <br><br>
            REVLIMID<sup>®</sup> is registered trademarks of Celgene Corporation, a Bristol Myers Squibb company.
            ©2020 Bristol-Myers Squibb Company. 11/20 US-REV-20-0458</small>
        </div>
    </div>
</div>