<section class="modal js-modal" id="{{id}}" role="dialog" style="background-color: {{modalColor}};">
  <div class="container modal__container">
    <div class="modal__block">
      <div class="modal__block modal__block--inner">
        <div class="modal__block modal__block--close">
          <button class="modal__button modal__button--close js-modal-close" type="button" name="button">
            <span class="modal__span"></span>
          </button>
        </div>
        <div class="modal__block modal__block--pdf js-modal-pdf" data-pdf-url="{{pdfUrl}}"></div>
      </div>
    </div>
  </div>
</section>