<div class="portrait portrait--home content">
    <div class="content__container">
        <h1>Bringing<br>Outcomes<br>to Life</h1>
        <section class="middle__content">
            <img src="./assets/images/portrait.png" alt="">
            <h5>This website is best viewed using the horizontal display on your tablet device.</h5>
        </section>
    </div>
    <div class="footer footer__container">
        <div class="footer__logo">
        <img src="./assets/images/rev-logo.png" alt="">
        </div>
        <div class="footer__content">
            <small>
            <br><br>
            REVLIMID<sup>®</sup> is registered trademarks of Celgene Corporation, a Bristol Myers Squibb company.
            ©2020 Bristol-Myers Squibb Company. 11/20 US-REV-20-0458</small>
        </div>
    </div>
</div>