<section class="resources">
  <div class="resources__container">
    <div class="resources__header">
      <h3>Additional Information for your patients on REVLIMID</h3>
    </div>
    <div class="resources__form">
      <div class="resources__list">
        <a href="./study-data.html#starting-dose">REVLIMID Resources</a>
        <a href="./resources.html#patient-education-support">Celgene Patient Support</a>
        <a href="./resources.html#first-trial-information">FIRST Trial Information</a>
        <a href="./resources.html#patient-education-brochure">Patient Education Brochure</a>
      </div>
    </div>
  </div>
</section>