<!DOCTYPE html>
<html>

{{>head}}

<body class="js-body date-selector">
  {{>header}}
  <main class="main js-main">
    <section class="aside">
      <div class="aside__container">
        <h1>Bringing<br>Outcomes<br>to Life</h1>
      </div>
      <footer class="footer">
        <div class="footer__container">
          <div class="footer__logo">
            <img src="./assets/images/rev-logo.png" alt="">
          </div>
        </div>
      </footer>
    </section>
    <aside class="content">
      <div class="content__container">
       {{>date-selector}}
      </div>
    </aside>
  </main>
  {{>tray
    variant='revpat'
    thirdTab='Medication Guide'
    secondTab='Prescribing Information'
  }}
  {{>modal
    id='starting-dose'
    pdfUrl='../../../assets/images/Patient-Support.pdf'
    modalColor='#dbebf4'
  }}
  {{>footlibs}}
  {{>error-overlay}}
</body>

</html>