<!DOCTYPE html>
<html>

{{>head}}

<body class="js-body home">
  {{>header}}
  <main class="main js-main">
    <section class="content">
      {{>indication}}
      <div class="content__container">
        <h1>Bringing<br>Outcomes<br>to Life</h1>
        <h5>Explore the potential of REVLIMID<br> maintenance post auto-HSCT</h5>
      </div>
      {{>footer}}
    </section>
    <aside class="aside">
      <div class="aside__container">
        <a href="start-date.html" class="cta">
          Start
        </a>
      </div>
    </aside>
  </main>
  {{>tray
    variant='revpat'
    thirdTab='Medication Guide'
    secondTab='Prescribing Information'
  }}
  {{>modal
    id='starting-dose'
    pdfUrl='../../../assets/images/Patient-Support.pdf'
    modalColor='#dbebf4'
  }}
  {{>footlibs}}
  {{>error-overlay}}
</body>

</html>