<!DOCTYPE html>
<html>

{{>head}}

<body class="js-body template-2 study-page">
  {{>header}}
  <main class="main js-main">
    <aside class="aside">
      <div class="aside__container">
        <div class="aside__banner">
          <img src="./assets/images/avatar.png" alt="">
          <span>
            Maintenance<br>
            Patient
          </span>
        </div>
        <h6><strong class="text-yellow">Start Maintenance Rx:</strong></h6>
        <h4 class="js-print-therapy-start"></h4>
        <h6><strong class="text-yellow">Potential<br> progression date:</strong></h6>
        <h4 class="js-print-prog-end"></h4>
        <a class="aside__banner aside__banner--modal" href="#">
          <img src="./assets/images/external.png" alt="">
          <span>
            See recommended<br>
            starting dose
          </span>
        </a>
        <ul class="aside__list">
          <li>
            <a href="#">See the CALGB and<br> IFM Study Designs</a>
          </li>
          <li>
            <a href="#">See baseline<br> characteristics</a>
          </li>
          <li>
            <a href="#">See overall survival data</a>
          </li>
          <li>
            <a href="#">See safety profile</a>
          </li>
        </ul>
        <button class="aside__scroll js-scroll">
          <span class="aside__scroll-icon"></span>
          SCROLL
        </button>
        <div class="aside__footer">
          <div class="aside__logo">
            <img src="./assets/images/rev-logo.png" alt="">
          </div>
        </div>
      </div>
    </aside>
    <section class="content">
      {{>navigation
        study-data="true"
      }}
      <div class="content__container">
        <div class="content__banner">
          <small>BASED ON THE MEDIAN PFS FINDING IN STUDY 1</small>
          <h3>Patient has the potential to live progression<br> free until <u><strong><span class="js-print-prog-end-alt"></span></strong></u></h3>
        </div>
        <!-- WYSIWYG -->
        <h6>CALBG (STUDY 1)</h6>
        <h3><strong>5.7 year median PFS with REVLIMID Maintenance<br> (primary endpoint)<sup>2</sup></strong></h3>
        <p>&nbsp;</p>
        <h6 class="text-dark-blue"><strong>3.8-YEAR INCREASE IN MEDIAN PFS VS PLACEBO (UPDATED ANALYSIS: MARCH2015)<sup>2*</sup></strong></h6>
        <figure>
          <img src="./assets/images/CLH_35845_GraphAnimation_2.gif" alt="">
          <figcaption>
            CALGB PFS Events: REVLIMID = 97/231 (42%), Placebo = 116/229 (51%)
            <br>
            IFM PFS Events: REVLIMID = 191/307 (62%), Placebo = 248/307 (81%)
            <br>
            Based on intent-to-treat (ITT) population.
          </figcaption>
        </figure>
        <h6 class="text-dark-blue"><strong>IFM (Study 2): 1.9-year advantage in median PFS vs placebo</strong></h6>
        <ul>
          <li>Median PFS: 3.9 years with REVLIMID Maintenance (95% CI 3.3, 4.7) (n=307) vs 2.0 years with placebo (95% CI 1.8, 2.3) (n=307) (HR 0.53 [95% CI 0.44, 0.64])</li>
          <li>IFM PFS Events: REVLIMID = 191/307 (62%), Placebo = 248/307 (815)</li>
        </ul>
        <p>
          CALGB (Maintenance Study 1 [US]) and IFM (Maintenance Study 2 [EU]) were randomized, double-blind, placebo-controlled studies conducted in newly diagnosed patients who received an auto-HSCT following induction therapy. Primary endpoint for both studies was PFS. REVLIMID for maintenance therapy post auto-HSCT was approved based on both CALGB and IFM trials. Results varied.
          <br><br>
          See additional trial design information at the link on the side bar.
        </p>
        <!-- WYSIWYG -->
        <!-- floating cta -->
        <div class="content__floating-cta">
          <a href="#" class="cta">next</a>
        </div>
        <!-- floating cta -->
      </div>
      <footer class="footer">
        <div class="footer__container">
          <div class="footer__content">
            <small>Auto-HSCT, autologous hematopoietic stem cell transplant.
              <br><br>
              REVLIMID<sup>®</sup> and REVLIMID REMS<sup>®</sup> are registered trademarks of Celgene Corporation, a Bristol Myers Squibb company.
              ©2020 Bristol-Myers Squibb Company. 11/20 US-REV-20-0458</small>
          </div>
        </div>
      </footer>
    </section>
  </main>
  {{>tray
    variant='revpat'
    thirdTab='Medication Guide'
    secondTab='Prescribing Information'
  }}
  {{>modal
    id='starting-dose'
    pdfUrl='../../../assets/images/Patient-Support.pdf'
    modalColor='#dbebf4'
  }}
  {{>footlibs}}
  {{>error-overlay}}
</body>

</html>