.main {
  max-width: $site-main-width;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
}

body {
  background: url('../images/aside-bg.jpg') top right / 132px no-repeat, linear-gradient(to right, #0071b0 50vw, #fff 50vw, #fff 50vw, #fff 50vw);
}
