.mobile {
  max-width: $site-mobile-width;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 195px;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;

  @media screen and (min-width: $site-mobile-width - 1) {
    display: none;
  }

  &--home {
    h1 {
      color: $white;
      margin-bottom: 25px;
    }

    h5 {
      color: $white;
      margin-bottom: 0;
      margin-top: 25%;
      font-size: 1.53rem;
      line-height: 1.3em;
    }
  }

  .content__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    bottom: 0;

    .footer__content {
      padding-left: 0;
    }
  }
  
}
  