.portrait {
  max-width: $site-content-width;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 195px;
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;

  @media screen and (max-width: $site-mobile-width) {
    display: none;
  }

  @media screen and (min-width: $site-content-width - 1) {
    display: none;
  }

  .middle__content {
    display: flex;
    flex-direction: row;
    margin-top: 10em;

    img {
      margin-right: 10px;
      height: 177px;
      width: 200px;
      margin-left: 4em;
    }
  }

  &--home {
    h1 {
      color: $white;
      margin-bottom: 25px;
    }

    h5 {
      color: $white;
      margin-bottom: 0;
      font-size: 1.53rem;
      line-height: 1.3em;
      width: 13em;
    }
  }

  .content__container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    bottom: 20px;

    .footer__content {
      padding-left: 0;
    }
  }
  
}
  