.resources-page {
  @extend .template-2;

  .aside {
    &__banner {
      position: relative;
      top: 260px;
    }

    &__footer {
      margin-top: 0;
      position: relative;
      top: 400px;
    }
  }
}
