.study-data-page {
  @extend .template-2;

  .content__banner {
    h3 {
      margin-top: 6px;
      font-size: rem(22px);
      line-height: rem(26px);
    }
  }

  .content__floating-cta {
    padding-top: 380px;
    right: 10px;
  }

  .content__container {
    >h6 {
      font-size: 14px;
    }

    >h3 {
      font-size: 24px;
    }
  }
}
