.template-2 {
  .aside {
    background-color: $rev-blue;
    background-image: none;
    min-width: 280px;
    justify-content: flex-start;
    padding-top: 48px;

    &__container {
      max-width: 230px;
      min-width: 195px;
      margin-left: auto;
      height: 100%;
      justify-content: flex-start;

      *,
      * > * {
        color: $white;
      }

      h6 {
        margin-bottom: 0;
        margin-top: 10px;
      }

      h4 {
        margin-top: 5px;
        margin-bottom: 15px;
      }

      h2 {
        color: $white;
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    &__footer {
      margin-top: auto;
      padding-bottom: 0;
      padding-right: 0;
    }
  }

  .footer {
    margin-left: 0;
    padding-top: 20px;

    &__content {
      padding-left: 0;
      max-width: 600px;

      *,
      * > * {
        // color: $rev-blue;
        color: #000;
      }
    }

    &__logo {
      img {
        width: 126px;
        height: auto;
      }
    }
  }

  .content {
    max-width: initial;
    background-color: $white;
    min-width: initial;
    // background-image: url('../images/aside-bg.jpg');
    // background-size: 132px;
    // background-position: top right;
    // background-repeat: no-repeat;
    padding-top: 18px;
    position: relative;
    justify-content: flex-start;
    margin-right: 70px;

    &__container {
      margin-left: inherit;
      display: block;
      padding-left: 40px;
      max-width: 636px;
      box-sizing: content-box;
      padding-bottom: 0;
      position: relative;
      min-height: 535px;

      > h1,
      > h2,
      > h3,
      > h4,
      > h5,
      > h6 {
        margin-top: 0;
        margin-bottom: 8px;
        color: $rev-dark-blue;
      }

      > p {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 16px;
        max-width: 524px;
        letter-spacing: .03px;
      }

      > *:last-child {
        margin-bottom: 0;
      }

      > ul {
        padding-left: 30px;
        margin-bottom: 20px;
        max-width: 524px;

        li {
          padding-left: 5px;
          font-size: 12px;
          line-height: 16px;

          &::marker {
            font-size: 13px;
          }
        }
      }

      h6 {
        font-size: 15px;
        line-height: 19px;
        letter-spacing: .04px;
        margin-bottom: 10px;
      }
    }
  }
}
