.aside {
  min-width: 196px;
  max-width: 388px;
  flex-basis: 25%;
  // grid-area: 1 / 2 / 2 / 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url('../images/aside-bg.jpg');
  background-size: 132px;
  background-position: top right;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .cta {
      align-self: center;
    }
  }
}

// @include media-breakpoint-up(1024px) {
//   .aside {
//     padding-right: calc(((100% - 1024px) / 2));
//   }
// }
