.banner {
  width: 100%;
  background-color: #eee7e7;
  padding-top: 8px;
  padding-bottom: 8px;

  > .container {
    display: flex;
    flex-direction: row;
    max-width: 1040px;

    @include media-breakpoint-up(1070px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__button {
    background-color: transparent;
    border: 0;
    appearance: none;
    padding: 0;

    &:focus:not(.focus-visible) {
      outline: none;
    }
  }

  &__block {
    display: flex;

    &--copy {
      flex: 1;
      text-align: center;
      justify-content: center;
      align-items: center;

      *:first-child:last-child,
      *:last-child {
        margin: 0;
      }

      strong,
      b {
        font-weight: bold;
      }

      *,
      * > * {
        font-size: rem(12px);
        font-family: Arial, sans-serif;
        color: $bms-fuschia;
        line-height: 1.2;
      }
    }
  }
}

@include media-breakpoint-up($md) {
  .banner {
    &__block {
      &--copy {
        *,
        * > * {
          @media screen and (orientation: landscape) {
            font-size: rem(20px);
          }
        }
      }
    }
  }
}
