.footer {
  padding: 40px 50px 20px;
  width: 100%;
  max-width: 828px;
  box-sizing: border-box;
  margin-left: auto;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    img {
      max-width: 158px;
      height: auto;
    }
  }

  &__content {
    color: $white;
    padding-left: 50px;
    max-width: 473px;
    box-sizing: content-box;

    *,
    * > * {
      color: $white;
    }

    > *:first-child {
      margin-top: 0;
    }
  }

  &__block {
    position: relative;

    &--nav {
      width: 100%;
    }
  }
}
