.header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 11;
  background-color: transparent;
  // transition: background-color .4s ease-in-out;
  padding-top: 9px;
  padding-bottom: 9px;
  box-sizing: content-box;
  // will-change: background-color;
  height: 0;


  &__logo {
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease-in-out;
    will-change: opacity, visibility;

    img {
      width: 85px;
      pointer-events: none;
    }
  }

  &__block {
    height: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height: 0;
  }
}

.tray--expanded {
  .header {
    background-color: $rev-blue;
    height: 60px;
  }

  .header__logo {
    opacity: 1;
    visibility: visible;
  }

  .header__block,
  .header__container {
    height: auto;
  }
}
