.resources {
  padding-top: 25px;
  height: 100%;

  &__header {
    background-color: #c2e5f5;
    height: 7rem;
    margin-left: -3.1rem;

    h3 {
      color: $rev-blue;
      font-weight: bold;
      padding-left: 50px;
      font-size: 1.5rem;
      line-height: 2.7;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 100%;

    h3 {
      color: $rev-blue;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 6rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 330px;

    a {
      padding-top: 20px;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: bold;
      color: $rev-light-blue;
    }

    a:hover {
      color: #123a77;
      border-bottom: 1px solid #123a77;
      font-size: 1.5rem;
      font-weight: bold;
    }

  }

  &__footer {
    padding: 40px 50px 20px;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    bottom: 0;

    &-content {
      padding-left: 0;
      color: $white;
      max-width: 473px;
      box-sizing: content-box;

      *,
      * > * {
        color: $rev-blue;
      }

      > *:first-child {
        margin-top: 100px;
      }

      small {
        padding-top: 10px;
      }
    }

    &-logo {
      img {
        max-width: 158px;
        height: auto;
      }
    }
  }
}
