// **********************************
// 	_mixins.scss
//  SASS mixins to be used throughout the project to prevent code repeat and ensure maintainability.
// **********************************


// **********************************
// Media queries mixins
// **********************************
@mixin media-breakpoint-up($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin media-breakpoint-between($breakpoint-min, $breakpoint-max) {
  @media (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
    @content;
  }
}

// **********************************
// Focus styles
// **********************************
@mixin focus-styles() {
  outline: none;
  box-shadow: $focus-style;
}

@mixin colored-arrow-bg($color) {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='16px' viewBox='0 0 24 16'%3E%3Ctitle%3EFill 140%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='button/white' transform='translate(-77.000000, -15.000000)' fill='%23#{$color}'%3E%3Cpath d='M96.2273,23.8788 C96.1543,23.8458 96.1033,23.8578 96.0553,23.8578 C88.4383,23.8568 85.5533,23.8568 77.9373,23.8568 C77.6933,23.8568 77.7173,23.8818 77.7163,23.6418 C77.7153,22.9958 77.7163,22.3508 77.7163,21.7048 C77.7163,21.5208 77.7163,21.5208 77.8983,21.5208 L86.9453,21.5208 L96.0623,21.5208 L96.2093,21.5208 C96.1913,21.4618 96.1513,21.4368 96.1213,21.4058 C94.5483,19.8328 92.9763,18.2608 91.4053,16.6888 C91.2793,16.5628 91.2793,16.5638 91.4003,16.4398 C91.8743,15.9578 92.3483,15.4748 92.8223,14.9918 C92.9293,14.8828 92.9303,14.8828 93.0353,14.9878 C95.5643,17.5168 98.0933,20.0458 100.6223,22.5738 C100.7363,22.6888 100.7363,22.6888 100.6263,22.7978 C98.0953,25.3298 95.5633,27.8608 93.0343,30.3948 C92.9493,30.4798 92.9053,30.4748 92.8263,30.3928 C92.3433,29.8948 91.8593,29.3998 91.3693,28.9098 C91.2803,28.8198 91.3153,28.7758 91.3843,28.7068 C92.8943,27.1988 94.4033,25.6898 95.9133,24.1808 C96.0123,24.0808 96.1173,23.9848 96.2273,23.8788' id='Fill-140'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}