// Background Color
.bg-color--none,
.bg-color-none {
  background-color: rgba(255, 255, 255, 0);
}

.bg-color--white,
.bg-color-white {
  background-color: $white;
}

.bg-color--snowwhite,
.bg-color-snowwhite {
  background-color: $snowwhite;
}

.bg-color--indianpurple,
.bg-color-indianpurple {
  background-color: $indianpurple;
}

.bg-color--indianred,
.bg-color-indianred {
  background-color: $indianred;
}

.bg-color--indianblue,
.bg-color-indianblue {
  background-color: $indianblue;
}

.bg-color--red,
.bg-color-red {
  background-color: $red;
}

.bg-color--palered,
.bg-color-palered {
  background-color: $palered;
}

.bg-color--blue,
.bg-color-blue {
  background-color: $blue;
}

.bg-color--aliceblue,
.bg-color-aliceblue {
  background-color: $aliceblue;
}

.bg-color--paleblue,
.bg-color-paleblue {
  background-color: $paleblue;
}

.bg-color--palenavy,
.bg-color-palenavy {
  background-color: $palenavy;
}

.bg-color--purple,
.bg-color-purple {
  background-color: $purple;
}

.bg-color--palepurple,
.bg-color-palepurple {
  background-color: $palepurple;
}

.bg-color--marqueered,
.bg-color-marqueered {
  background-color: $marqueered;
}

.bg-color--marqueeblue,
.bg-color-marqueeblue {
  background-color: $marqueeblue;
}

.bg-color--marqueepurple,
.bg-color-marqueepurple {
  background-color: $marqueepurple;
}

.bg-color--lightpink,
.bg-color-lightpink {
  background-color: $lightpink;
}
