// custom br 

// break in 0 ~ md(768)
.break-mobile,
.br-mobile {
  display: inline-block;

  @include media-breakpoint-up($md) {
    display: none;
  }
}

// break in md(768) ~ tablet
.break-tablet,
.br-tablet {
  display: none;

  @media only screen and (min-width: $md) and (max-width: $tablet) {
    display: inline-block;
  }
}

// break in md(768) ~
.break-tablet-to-desktop,
.br-tablet-to-desktop {
  display: none;

  @include media-breakpoint-up($md) {
    display: inline-block;
  }
}

// break in tablet ~ 
.break-desktop,
.br-desktop {
  display: none;

  @include media-breakpoint-up($tablet) {
    display: inline-block;
  }
}
