// color
// sass-lint:disable-all
.color--red,
.color-red {
  color: $red;
}

.color--white,
.color-white {
  color: $white;
}

.color--black,
.color-black {
  color: $black;
}

.text-yellow {
  color: $rev-yellow !important;
}

.text-dark-blue {
  color: $rev-dark-blue !important;
}
// sass-lint:enable-all
