// custom br 

// break in 0 ~ md(768)
.display-mobile {
  display: initial;

  @include media-breakpoint-up($md) {
    display: none;
  }
}

// break in md(768) ~
.display-tablet-to-desktop {
  display: none;

  @include media-breakpoint-up($md) {
    display: initial;
  }
}

// break in tablet ~ 
.display-desktop {
  display: none;

  @include media-breakpoint-up($tablet) {
    display: initial;
  }
}

.show-on-study-data-page,
.show-on-resources-page,
.show-on-maintenance-page,
.show-on-date-selector-page,
.show-on-home {
  display: none;
}